{% extends "original_blog/base.html" %}
{% block content %}
    <div class="about-this-blog">
        <h3>本ブログの概要</h3>
            <p>
            戦略コンサルタント／プログラマのwaywayと、アカデミックで活躍するmyway夫婦の、日々の会話です。<br>
            人生、キャリアの話から好きなアニメの話まで、雑多なトピックを書こうと思います。<br>
            面白いと思ったらコメントくださいませ。
            </p>
    </div>

    <div class="about-ourselves">
        <h3>夫婦の自己紹介</h3>
            <div class="wayway-introduction">
                <img class="rounded-circle article-img" src="/media/profile_pics/wayway.PNG">
                <div class="text-introduction">
                    <h4>wayway</h4>
                    大学は法律を勉強、社会人のキャリアは戦略コンサルタント、趣味でプログラミング。
                </div>
            </div>

            <div class="myway-introduction">
                <img class="rounded-circle article-img" src="/media/profile_pics/myway.PNG">
                <h4>myway</h4>
                    <p>秘密（気が向いたときに書きますよ）</p>
    </div>

{% endblock content %}
