{% extends "original_blog/base.html" %}

{% block content %}
    <div class="content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">投稿の削除</legend>
                <h2>本当に投稿を削除しますか？ {{ object.title }}</h2>
                <div class="form-group">
                    <button class="btn btn-outline-danger" type="submit">はい、削除します</button>
                    <a class="btn btn-outline-secondary" href="{% url 'post_detail' object.id %}">いいえ、削除しません</a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}
