{% extends "original_blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user_post' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                
                {% for tag in post.tags.all %}
                    <a class="tag" data-pk ="{{ tag.pk }}" href="{% url 'tag_post' tag.name %}">{{ tag.name }}</a>
                {% endfor %}
                
                {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mb-1" href="{% url 'post_update' object.id %}">更新</a>
                    <a class="btn btn-danger btn-sm mb-1" href="{% url 'post_delete' object.id %}">削除</a>
                </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
        </div>
    </article>

    <section id = "comment">
        <p class="text-right" ><a href="{% url 'comment_create' post.pk %}" rel="nofollow">記事にコメントする</a></p>
        <h3 class="section-title">コメント</h3>

        {% for comment in post.comment_set.all %}
            <div class="comment">
                <h3>{{ comment.name }}</h3>
                <time class="updated_at" datetime="{{ comment.date_created | date:'Y-m-d' }}">{{ comment.date_created }}</time>
                <div class="comment-text">
                    {{ comment.text }}
                </div>
                <p><a href="{% url 'reply_create' comment.pk %}" rel="nofollow">返信する</a></p>
            </div>

            {% for reply in comment.reply_set.all %}
                <div class="reply">
                    <h3>{{ reply.name }}</h3>
                    <time class="updated_at" datetime="{{ reply.date_created | date:'Y-m-d' }}">{{ reply.date_created }}</time>
                    <div class="reply-text">
                        {{ reply.text }}
                    </div>
                    <p><a href="{% url 'reply_create' comment.pk %}" rel="nofollow">返信する</a></p>
                </div>
            {% endfor %}

        {% empty %}
            <p>コメントはありません。</p>
        {% endfor %}

    </section>
{% endblock content %}